body{
  background:url('../images/dinerBackgroundTransparent.png') no-repeat center center fixed;
  background-size: cover;
  font-family: Georgia;}
.rhead {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  color: navy;}
.slogan {
  font-size: 1em; 
  font-style: italic; 
  font-weight: none;
  text-align: center;}
.mlist {
  font-size: 1em;
  font-weight: none;
  font-style: none;}
hr {clear: both;}
table {width:100%;}
td {text-align:center; 
    width: 33%;
    font-weight: bold;
    font-style: italic;
    color: navy;}
@media screen and (orientation: portrait) {
  td img { width: 50px; height: 50px; }
}
@media screen and (orientation: landscape) {
  td img { width: 30px; height: 30px; }
}